@{
	var signature = ViewBag.Signature as string;
	var isValid = ViewBag.IsValid ?? false;
	var message = ViewBag.Message as string;

}

<h2>Signature Validation</h2>

<a asp-action="Sign" style="text-align: center;">Sign</a>

<div class="md5-wrapper">
	<div style="display: flex;">
		<form asp-action="VerifyText" method="post" enctype="multipart/form-data">
			<label for="inputText">Text for validation:</label>
			<textarea id="inputText" name="inputText" rows="5" cols="40" required></textarea>

			<label for="SignatureFile">Signature File:</label>
			<input type="file" name="SignatureFile" id="SignatureFile" required />

			<label for="publicKeyFile">Public Key:</label>
			<input type="file" name="publicKeyFile" id="publicKeyFile" required />
			<button type="submit">Validate</button>
		</form>

		<form asp-action="VerifyFile" method="post" enctype="multipart/form-data">
			<label for="inputFile">File:</label>
			<input type="file" name="inputFile" id="inputFile" required />

			<label for="SignatureFile">Signature File:</label>
			<input type="file" name="SignatureFile" id="SignatureFile" required />

			<label for="publicKeyFile">Public Key:</label>
			<input type="file" name="publicKeyFile" id="publicKeyFile" required />
			<button type="submit">Validate</button>
		</form>
	</div>

	<div>
		@if (!string.IsNullOrEmpty(message))
		{
			<h3 style="color: @(isValid ? "green" : "red")">@message</h3>
		}
	</div>
</div>