@{
	ViewData["Title"] = "Random Number Generator";
}

<h2 style="text-align: center;">Random Number Generator</h2>

<div style="display: flex; align-items: center; justify-content: center;">
<form method="post" asp-action="Generate" style="align-self: center;">
	<div style="display: inline-grid;">
		<label for="x0">Initial Value (x0):</label>
		<input type="number" id="x0" name="x0" required />

		<label for="m">Modulus (m):</label>
		<input type="number" id="m" name="m" required />

		<label for="a">Multiplier (a):</label>
		<input type="number" id="a" name="a" required />

		<label for="c">Increment (c):</label>
		<input type="number" id="c" name="c" required />

		<label for="c">Count N:</label>
		<input type="number" id="numOfNumbers" name="numOfNumbers" required />

		<button type="submit" style="margin: 20px;">Generate</button>
	</div>
</form>
</div>