@{
	ViewData["Title"] = "Decrypt Text";
}

<h2>Decrypt Text</h2>

<a asp-action="Encrypt" style="text-align: center;">Encrypt</a>

<div class="md5-wrapper">
	<form asp-action="DecryptAction" method="post" enctype="multipart/form-data">
		<div>
			<label for="file">Encrypted File:</label>
			<input type="file" id="file" name="file" />
		</div>

		<div>
			<label for="privateKeyFile">Private Key File:</label>
			<input type="file" id="privateKeyFile" name="privateKeyFile" />
		</div>
		<div>
			<button type="submit">Decrypt</button>
		</div>
	</form>
</div>