@{
	ViewData["Title"] = "Generate RSA Keys";
}

<link rel="stylesheet" href="~/css/MD5/MD5.css" asp-append-version="true" />

<h2>Generate RSA Keys</h2>

<a asp-action="Encrypt" style="text-align: center;">Encrypt</a>
<a asp-action="Decrypt" style="text-align: center;">Decrypt</a>

<div class="md5-wrapper">
	<form asp-action="GenerateKeysAction" method="post">
		<label for="keySize">Key Size:</label>
        <input type="number" id="keySize" name="keySize" required min="384" max="16384" step="1" oninput="calculateMaxInputLength()" />

		<button type="submit">Generate Keys</button>
	</form>
    <br/>
    <h5>Max encode input length: <b id="maxInputLength">0</b> bytes</h5>
</div>

<script>
    function calculateMaxInputLength() {
        const inputValue = document.getElementById("keySize").value;
        let outputValue = (inputValue / 8) - 11;

        if (inputValue % 8 == 1 || inputValue < 384 || inputValue > 16384)
            outputValue = 0;

        document.getElementById("maxInputLength").innerText = outputValue;
    }
</script>