@{
	ViewData["Title"] = "Decrypt File";
}

<link rel="stylesheet" href="~/css/MD5/MD5.css" asp-append-version="true" />

<h2 style="text-align: center;">RC5 CBC-Pad Decryption</h2>
<a asp-action="Encrypt" style="text-align: center;">Encrypt</a>

<div class="md5-wrapper">
	<form asp-action="Decrypt" method="post" enctype="multipart/form-data" style="max-width: fit-content; height: 300px;">
		<div class="form-group">
			<label for="file">Select file:</label>
			<input type="file" id="file" name="file" required/>
		</div>
		<div class="form-group">
			<label for="password">Password:</label>
			<input type="text" id="password" name="password" required/>
		</div>
		<button type="submit" class="btn btn-primary">Upload and Decrypt</button>
	</form>

	@if (@ViewBag.ExecutionTime is not null)
	{
		<br/>
		<a asp-action="DownloadDecryptedFile" class="btn btn-primary">Download</a>
		<br />
		<br />
		<div>
			<div>
				<h5>Execution Time:</h5>
				<p>@ViewBag.ExecutionTime ms</p>
			</div>
			<div>
				<h5>Input Lenght:</h5>
				<p>@ViewBag.InputLength</p>
			</div>
		</div>
	}
</div>